.bodyStyle {
    display: inline-block;
    background-color: #b6cbe8;
    background-image: url('../img/dollarsWalls4.jpg');
    animation: cloud 1s linear infinite;
}


@keyframes cloud {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 1000px;
    }
}


.gradientStyle {
    background: linear-gradient(0.25turn, #2684ac, #6b8f50, #ad1436);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 120px;
    margin-left: 450px;
}

.buttonStyle2 {
    font-size: 2rem;
    background-color: #003fa3;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 25px;
    transition-property: background-color, font-size;
    transition-duration: 0.5s, 0.8s;
    transition-timing-function: ease, linear;
    transition-delay: 0s;
}

    .buttonStyle2:hover {
        background-color: #ed0543;
        font-size: 2.1rem;
        color: #ffff00;
        width: 260px;
        height: 90px;
    }