.generalBackground {
    background-image: url(../img/ff821762-a850-4661-a9f7-146c2b5f7792-views_llyn-llydaw.jpg);
    background-size: cover;
}

.headerBackground {
    background-image: url(../img/pexels-photo-2156881.jpeg);
    background-size: cover;
}

.chooseAmountCentralElementBackground {
    background-image: url(../img/0_1b7c09_506f1271_XL.jpg);
    background-size: cover;
}

.menuBackground {
    background-image: url(../img/1588415589_11-p-krasivie-foni-dlya-saitov-54.jpg);
    background-size: cover;
}